.redstripe {
    float: left;
    height: 50px;
    width: 1400px;
    background-color: red;
}

.white {
    float:left;
    height: 50px;
    width:1400px;
    background-color: white;
}

.redstripe2 {
    float: left;
    height: 50px;
    width: 1000px;
    background-color: red;
}
.bluebox {
    float: left;
    height: 350px;
    width: 400px;
    background-color:blue;
}

.whitestripe2 {
    float:left;
    height: 50px;
    width: 1000px;
    background-color: white;
}